@import "base";
@import "reset";

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: black;
  background-color: gray;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}
